@font-face { /* Fonte */
    font-family: 'EnchantedLand';
    src: url('fonts/Enchanted Land.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: EnchantedLand;
    margin: 0;
    background: #3b2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.livro {
    display: flex;
    width: 1000px;
    height: 600px;
    background: #d8c9a3;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0,0,0,0.6);
}
/* Linha central do livro */
.pagFundoEsq {
    border-right: 6px solid rgba(0,0,0,0.15);
}

/* Paginas fundo */
.pagFundoEsq,
.pagFundoDir {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    background-image: url("images/wrinkle-old-paper-texture-background.png");
    background-size: cover;
    background-position: center;
}

.imagem-container {
    display: flex;
    position: relative;
    width: 185px;   
    height: auto;
    justify-content: center;
    align-items: center;
}

.personagem {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
    
}

.borda {
    position: absolute;
    inset: 0;         
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    
}
ul{
    list-style: none;

}
.caracteristicas{
    align-items: center;
   justify-content: center;
    padding: 8px
}
li{
    font-size: 22px;
    border-bottom: 2px solid black;
    width: 190px;
}
.li1{
    font-size: 28px;
    font-weight: bold;
}

h1{
    margin: 3px;
    border-bottom: solid 2px black;
}

/* Barras */
#Barras{
    margin-top: 20px;
}
.status{
display: flex;
max-height: 300px;
justify-content: center;

}

.barra {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px;
    margin-right: 30%;
    text-decoration: underline;
}

.label {
    width: 70px;
    font-weight: bold;
    font-size: 22px;
}

.barra-container {
    flex: 1;
    height: 16px;
    background: rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

.preenchimento {
    height: 100%;
    border-radius: 8px;
}

/* Cores e porcentagens */

.barra.vida .preenchimento {
    background: darkred;
    width: 45%;
}

.barra.vigor .preenchimento {
    background: rgba(114, 82, 22, 0.836);
    width: 75%;
}

.barra.mana .preenchimento {
    background: purple;
    width: 20%;
}

.barra.frio .preenchimento {
    background: blue;
    width: 40%;
}